@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-crimson bg-[#f7f0e9] text-gray-800 px-4;
  }
  
  html {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  @keyframes heartbeat {
    0%, 100% {
      transform: scale(1);
    }
    10%, 30% {
      transform: scale(1.1);
    }
    20%, 40% {
      transform: scale(1.15);
    }
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(-10px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-heartbeat {
    animation: heartbeat 2s ease-in-out infinite;
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out;
  }
}
